<header class="navbar-container">
  <div class="navbar-content">
    <a href="/aecode-programas#Home" class="navbar-logo"
      ><img
        src="/assets/images/aecode-logo.webp"
        alt="AECode Logo"
        class="logo"
    /></a>

    <!-- <button
      id="botonHamburguesa"
      class="navbar-toggler"
      style="position: absolute; right: 10%; top: 20%"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <ul class="navbar-list">
      <a href="/aecode-programas#Home" class="navbar-item"
        ><strong>Inicio</strong></a
      >
      <a href="/aecode-programas#Capacitaciones" class="navbar-item"
        ><strong>Capacitaciones</strong></a
      >
      <a href="/aecode-programas#Contáctanos" class="navbar-item"
        ><strong>Contáctanos</strong></a
      >
      <a href="/aecode-programas" class="navbar-item">
        <app-world-icon class="world-icon" />
        <span class="icon-text"><strong>EN</strong></span>
      </a>
      <button type="button" class="header-button">Sign up</button>
    </ul>
  </div>
</header>
