<header class="header-container">
  <div class="header">
    <div class="header-title-container">
      <img
        class="aecode-logo hover-button"
        src="assets/images/aecode-logo.webp"
        alt=""
      />

      <span class="header-title">¿Quién eres según la IA?</span>
    </div>

    <div class="header-buttons">
      <span class="header-title">¿Quién eres según la IA?</span>
      <a
        href="http://shamanai.aecode.ai/"
        target="_blank"
        class="button shaman-button"
      >
        <div class="svg-container">
          <app-fire-icon class="fire-svg" />

          <img
            class="shaman-button-img"
            src="assets/images/main-view/shaman-button-brain.svg"
            alt=""
          />
        </div>
        <div class="shaman-button-text">
          <span class="shaman">SHAMAN AI</span>
          <span class="play">JUGAR</span>
        </div>
      </a>

      <a
        href="http://shamanai.aecode.ai/"
        target="_blank"
        class="shaman-button-mobile"
      >
        <div class="svg-container-mobile">
          <app-fire-icon class="fire-svg" />
        </div>
        SHAMAN AI
      </a>
      <a routerLink="/aecode-programas" class="button hover-button"
        >PROGRAMAS ESPECIALIZADOS</a
      >
    </div>
  </div>
</header>
