<div class="count-down-container">
  <div class="count-down-item">
    <span id="days" class="count-down-number">0</span>
    <span class="count-down-text">Dias</span>
  </div>
  <img src="/assets/images/main-view/date-separator.svg" alt="" />
  <div class="count-down-item">
    <span id="hours" class="count-down-number">0</span>
    <span class="count-down-text">Horas</span>
  </div>
  <img src="/assets/images/main-view/date-separator.svg" alt="" />
  <div class="count-down-item">
    <span id="mins" class="count-down-number">0</span>
    <span class="count-down-text">Minutos</span>
  </div>
  <img src="/assets/images/main-view/date-separator.svg" alt="" />
  <div class="count-down-item">
    <span id="seconds" class="count-down-number">0</span>
    <span class="count-down-text">Segundos</span>
  </div>
</div>
