<app-header />
<app-whatsapp-button />

<div class="home-container">
  <div class="">
    <div class="home-image-container">
      <div class="image-container">
        <img src="/Imagenes/aprender.png" alt="" class="img-fluid" />
      </div>
    </div>
    <div class="home-text-container">
      <div
        class="text-container p-4 d-flex flex-column justify-content-center h-100 mb-5"
      >
        <h1 class="display-4 text-center">Ingeniería 4.0 + Programación</h1>
        <p class="text-center text-secondary pt-4">
          Impulsando la Ingeniería 4.0 e Innovación para la construcción
          moderna.
        </p>
        <div class="text-center">
          <button
            type="button"
            onclick="mostrarFormulario()"
            class="btn btn-primary"
            style="background-color: #380489; border: #380489"
          >
            ¡Quiero unirme!
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="keywords-container">
    <div id="contenedorTitulos" class="contenedorTitulos row g-5 py-5">
      <div class="col-md-4">
        <h3 class="fw-bold">INNOVACIÓN</h3>
        <p class="text-secondary">
          Buscamos redefinir la ingeniería moderna en el sector AEC,
          estableciendo estándares optimizados y sostenibles para su futuro.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="fw-bold">DIGITALIZACIÓN</h3>
        <p class="text-secondary">
          Impulsamos la transformación digital en la Ingeniería y Construcción,
          redefiniendo estándares globales para el futuro del sector.
        </p>
      </div>
      <div class="col-md-4">
        <h3 class="fw-bold">AUTOMATIZACIÓN</h3>
        <p class="text-secondary">
          Transformamos los desafíos de ingeniería mediante soluciones óptimas,
          integrando la pasión y creatividad con tecnología avanzada.
        </p>
      </div>
    </div>
    <div id="sliderTitulos" class="sliderTitulos mb-2 mt-1 py-2 row">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="container text-center">
              <div class="titulos row">
                <div class="col-md-4">
                  <h2 class="fw-bold text-center">INNOVACIÓN</h2>
                  <p class="text-secondary">
                    Buscamos redefinir la ingeniería moderna en el sector AEC,
                    estableciendo estándares optimizados y sostenibles para su
                    futuro.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container text-center">
              <div class="titulos row">
                <div class="col-md-4">
                  <h2 class="fw-bold text-center">DIGITALIZACIÓN</h2>
                  <p class="text-secondary">
                    Impulsamos la transformación digital en la Ingeniería y
                    Construcción, redefiniendo estándares globales para el
                    futuro del sector.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="container text-center">
              <div class="titulos row">
                <div class="col-md-4">
                  <h2 class="fw-bold text-center">AUTOMATIZACIÓN</h2>
                  <p class="text-secondary">
                    Transformamos los desafíos de ingeniería mediante soluciones
                    óptimas, integrando la pasión y creatividad con tecnología
                    avanzada.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-wrapper pt-5">
          <div id="paginatorSwiper" class="swiper-pagination"></div>
        </div>
        <!-- Agrega la paginación-->
      </div>
    </div>
  </div>
</div>

<!--SLIDERS-->
<section class="bg-light mb-5">
  <!--Slider de lenguajes-->
  <div class="row py-5">
    <div class="slider slider0 slider1">
      <div class="slide-track">
        <div class="slide">
          <img src="/Softwares/logo_sofistik.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_tekla.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_trimbleconnect.png" alt="" />
        </div>
        <div class="slide mt-2 slidePersonalizado">
          <img
            src="/Softwares/logaster-2020-08-h-rhinoceros-logo-15.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img src="/Softwares/Karamba3d_logo_K2-07.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/grasshopper1-388x388.png" alt="" />
        </div>
        <div class="slide mt-1">
          <img
            style="width: 55px"
            src="/Softwares/logo_CSI_Bridge.png"
            alt=""
          />
        </div>
        <div class="slide mt-2">
          <img style="width: 50px" src="/Softwares/logo_ETABS.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo mathcad.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_revit.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo RFEM.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_saps2000.png" alt="" />
        </div>

        <div class="slide">
          <img src="/Softwares/logo_sofistik.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_tekla.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_trimbleconnect.png" alt="" />
        </div>
        <div class="slide mt-2 slidePersonalizado">
          <img
            src="/Softwares/logaster-2020-08-h-rhinoceros-logo-15.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img src="/Softwares/Karamba3d_logo_K2-07.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/grasshopper1-388x388.png" alt="" />
        </div>
        <div class="slide mt-1">
          <img
            style="width: 55px"
            src="/Softwares/logo_CSI_Bridge.png"
            alt=""
          />
        </div>
        <div class="slide mt-2">
          <img style="width: 50px" src="/Softwares/logo_ETABS.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo mathcad.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_revit.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo RFEM.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Softwares/logo_saps2000.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!--Slider 2-->
  <div class="row pb-5">
    <div class="slider slider2">
      <div class="slide-track">
        <div class="slide">
          <h5>Inteligencia Artificial</h5>
        </div>
        <div class="slide">
          <h5>Machine Learning</h5>
        </div>
        <div class="slide">
          <h5>BIM</h5>
        </div>
        <div class="slide">
          <h5>Interoperabilidad</h5>
        </div>
        <div class="slide">
          <h5>Programación</h5>
        </div>
        <div class="slide">
          <h5>Diseño Generativo</h5>
        </div>
        <div class="slide">
          <h5>Diseño Paramétrico</h5>
        </div>
        <div class="slide">
          <h5>Optimización</h5>
        </div>
        <div class="slide">
          <h5>Inteligencia Artificial</h5>
        </div>
        <div class="slide">
          <h5>Machine Learning</h5>
        </div>
        <div class="slide">
          <h5>BIM</h5>
        </div>
        <div class="slide">
          <h5>Interoperabilidad</h5>
        </div>
        <div class="slide">
          <h5>Programación</h5>
        </div>
        <div class="slide">
          <h5>Diseño Generativo</h5>
        </div>
        <div class="slide">
          <h5>Diseño Paramétrico</h5>
        </div>
        <div class="slide">
          <h5>Optimización</h5>
        </div>
      </div>
    </div>
  </div>

  <!--Slider 3-->
  <div class="row pb-5">
    <div class="slider slider3 slider1">
      <div class="slide-track">
        <div class="slide">
          <img src="/Lenguajes_Plugins/galapagos_image.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/logo octopus.png" alt="" />
        </div>
        <div class="slide slidePersonalizado">
          <img src="/Lenguajes_Plugins/Logo_C_sharp.svg.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/Python-logo-notext.svg.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/swallow.png" alt="" />
        </div>
        <div class="slide slidePersonalizado">
          <img
            src="/Lenguajes_Plugins/Visual_Studio_Code_1.35_icon.svg.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/wallaceilogo.png" alt="" />
        </div>

        <div class="slide">
          <img src="/Lenguajes_Plugins/galapagos_image.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/logo octopus.png" alt="" />
        </div>
        <div class="slide slidePersonalizado">
          <img src="/Lenguajes_Plugins/Logo_C_sharp.svg.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/Python-logo-notext.svg.png" alt="" />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/swallow.png" alt="" />
        </div>
        <div class="slide slidePersonalizado">
          <img
            src="/Lenguajes_Plugins/Visual_Studio_Code_1.35_icon.svg.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img src="/Lenguajes_Plugins/wallaceilogo.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Sección Capacitaciones-->
<section id="Capacitaciones" class="text-center pt-5">
  <div class="Capacitaciones pt-5">
    <div class="CapacitacionesTitulo">
      <h2 class="fw-bold text-center mb-4">
        POTENCIA TUS PROYECTOS ACADÉMICOS Y PROFESIONALES
      </h2>
    </div>
    <div class="CapacitacionesTitulo2">
      <h2 class="fw-bold text-center mb-4">POTENCIA TUS PROYECTOS</h2>
    </div>
    <div class="CapacitacionesText">
      <p style="padding: 20px" class="text-secondary">
        Participa en la transformación digital de la industria AEC,
        enriqueciendo tu formación en programación, diseño paramétrico y
        construcción virtual, <br />
        para acelerar la adopción de BIM en proyectos de diseño y construcción.
      </p>
    </div>
    <div class="CapacitacionesText2">
      <p style="padding: 20px" class="text-secondary">
        Únete a la transformación digital de la industria AEC y acelera la
        adopción de BIM.
      </p>
    </div>
  </div>
  <!--Tarjetas de cursos-->
  <div id="carouselExampleControls" class="carousel slide mb-5">
    <div class="carousel-inner d-flex">
      <div class="carousel-item active">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Modelamiento_BIM_de_puentes_con_Autodesk_Revit_y_Dynamo.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/Modelamiento_BIM_de_puentes_con_Autodesk_Revit_y_Dynamo.html"
              class="btn btn-primary mb-3"
              style="
                background-color: #380489;
                border: #380489;
                color: white;
                margin-right: 5%;
              "
            >
              <strong>¡Ver detalles!</strong>
            </a>
            <a
              href="/Modelamiento_BIM_de_puentes_con_Autodesk_Revit_y_Dynamo.html#inversionSection"
              class="btn btn-primary mb-3"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Adquirir curso!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Automatización_del_análisis_y_diseño_estructural.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/Automatización_del_análisis_y_diseño_estructural.html"
              class="btn btn-primary mb-3"
              style="
                background-color: #380489;
                border: #380489;
                color: white;
                margin-right: 5%;
              "
            >
              <strong>¡Ver detalles!</strong>
            </a>
            <a
              href="/Automatización_del_análisis_y_diseño_estructural.html#inversionSection"
              class="btn btn-primary mb-3"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Adquirir curso!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Automatización_y_optimizacion_en_la_ingeniería_estructural.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/Automatización_y_optimizacion_en_la_ingeniería_estructural.html"
              class="btn btn-primary mb-3"
              style="
                background-color: #380489;
                border: #380489;
                color: white;
                margin-right: 5%;
              "
            >
              <strong>¡Ver detalles!</strong>
            </a>
            <a
              href="/Automatización_y_optimizacion_en_la_ingeniería_estructural.html#inversionSection"
              class="btn btn-primary mb-3"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Adquirir curso!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Diseño_paramétrico_en_la_ingeniería_estructural.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/Diseño_paramétrico_en_la_ingeniería_estructural.html"
              class="btn btn-primary mb-3"
              style="
                background-color: #380489;
                border: #380489;
                color: white;
                margin-right: 5%;
              "
            >
              <strong>¡Ver detalles!</strong>
            </a>
            <a
              href="/Diseño_paramétrico_en_la_ingeniería_estructural.html#inversionSection"
              class="btn btn-primary mb-3"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Adquirir curso!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Inteligencia_Artificial_Aplicada_a_la_Ingenieria_civil.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/Inteligencia_Artificial_Aplicada_a_la_Ingenieria_civil.html"
              class="btn btn-primary mb-3"
              style="
                background-color: #380489;
                border: #380489;
                color: white;
                margin-right: 5%;
              "
            >
              <strong>¡Ver detalles!</strong>
            </a>
            <a
              href="/Inteligencia_Artificial_Aplicada_a_la_Ingenieria_civil.html#inversionSection"
              class="btn btn-primary mb-3"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Adquirir curso!</strong>
            </a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="/Imagenes/flyer-courses/Programacion_y_simulacion_BIM_4D_con_Synchro_Pro.png"
            style="border: rgba(228, 225, 225, 0.486) solid 1px"
            class="d-block w-100"
            alt="..."
          />
          <div class="card-body">
            <a
              href="/aecode-programas.html#Capacitaciones"
              class="btn btn-primary m-auto mb-3"
              style="background-color: #380489; border: #380489; width: 240px"
              >¡Proximamente!</a
            >
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<!--Sección Contactanos-->
<section class="bg-light">
  <div id="Contáctanos" class="container p-4"></div>
</section>

<section class="p-5 bg-light">
  <div class="Contacto container">
    <div class="contactTitle">
      <h1 class="display-5 text-center">¡Sé parte de la red de networking!</h1>
    </div>
    <div class="contactTitle1">
      <h2 class="display-5 text-center">¡Sé parte de la red de networking!</h2>
    </div>
    <p class="text-center lead pt-2"></p>
    <div class="text-center mb-5">
      <a
        href="https://linktr.ee/aecode.ai"
        target="_blank"
        class="btn btn-primary px-4"
        style="background-color: #380489; border: #380489; color: white"
      >
        <strong>¡Únete a los grupos de Whatsapp!</strong>
      </a>
    </div>
    <p class="text-center contactoText text-secondary lead pt-2">
      Estamos en contacto:
    </p>
    <p class="contactoText1 text-secondary lead pt-2">Estamos en contacto:</p>
    <p class="contactos text-secondary lead">
      <i class="fa-solid fa-envelope"></i> contacto&#64;aecode.ai <br />
      <i class="fa-solid fa-phone"></i> (+51) 900 121 245 <br />
      <i class="fa-solid fa-phone"></i> (+51) 933 606 600 <br />
    </p>
  </div>
  <div class="footer-items container mt-2">
    <p class="text-center lead px-2">
      <a
        href="https://www.facebook.com/aeccode/?_rdc=1&_rdr"
        target="_blank"
        class="nav-link mt-1"
        ><i class="fab iconos fa-facebook"></i
      ></a>
    </p>
    <p class="text-center lead px-2">
      <a
        href="https://www.linkedin.com/company/aecodee/"
        target="_blank"
        class="nav-link mt-1"
        ><i class="fab iconos fa-linkedin"></i
      ></a>
    </p>
    <p class="text-center lead px-2">
      <a
        href="https://www.instagram.com/aeccode.ai?igshid=OGQ5ZDc2ODk2ZA=="
        target="_blank"
        class="nav-link mt-1"
        ><i class="fab iconos fa-instagram"></i
      ></a>
    </p>
    <p class="text-center lead px-2">
      <a
        href="https://www.tiktok.com/@aecode.ai"
        target="_blank"
        class="nav-link mt-1"
        ><i class="fab iconos fa-tiktok"></i
      ></a>
    </p>
    <p class="text-center lead px-2">
      <a
        href="https://t.me/+6YF8Kd_6HwAzMzdh"
        target="_blank"
        class="nav-link mt-1"
        ><i class="fab iconos fa-telegram"></i
      ></a>
    </p>
  </div>
</section>

<!--Footer-->
<section class="Footer">
  <div class="Footer container pt-4 text-center">
    <img src="/Imagenes/aecode-logo.webp" class="logoFooterHome" alt="" />

    <p class="text-center small text-muted mt-2 mb-3">
      Copyright &copy; AECODE 2023
    </p>
  </div>
</section>

<!--Formularios-->
<div class="formularios">
  <div id="miModal" class="modal">
    <div class="modal-content">
      <!-- Formulario oculto por defecto -->
      <div class="row g-5 py-4">
        <form
          id="form"
          method="post"
          class="form-control form1 text-center px-5 position-relative"
          onsubmit="mostrarFormulario2(); return false;"
        >
          <div class="position-absolute top-0 end-0">
            <button type="" class="close btnText" onclick="cerrarFormulario()">
              X
            </button>
          </div>
          <div class="">
            <h5 class="fw-bold display-6 py-3">
              ¡Únete a la comunidad AECODE!
            </h5>
            <p class="text-muted text-secondary">
              Ingresa tu nombre y correo electrónico, para recibir información
              sobre nuestros cursos y mucho más!
            </p>
          </div>
          <div class="mb-3 mt-3">
            <input
              type="text"
              required
              class="form-control input"
              placeholder="Nombre y apellido"
              name="Client Name"
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              required
              class="form-control input"
              placeholder="Correo electrónico"
              name="Email"
            />
          </div>
          <div class="">
            <button
              type="submit"
              id="submit-button"
              class="btn btn-primary px-4"
              style="background-color: #380489; border: #380489"
            >
              <strong>Enviar</strong>
            </button>
          </div>
          <div>
            <p class="small text-muted pt-3">
              Al enviar tus datos, aceptas recibir información sobre noticias,
              promociones, productos y servicios de AECODE.ai.
            </p>
          </div>
          <div>
            <p class="small text-muted">¡Bienvenido!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="miModal2" class="modal2">
    <div class="modal-content2">
      <!-- Formulario oculto por defecto -->
      <div class="row g-5 py-4">
        <form
          id="form2"
          method="post"
          class="form-control form2 text-center px-5 position-relative"
        >
          <div class="position-absolute top-0 end-0">
            <!-- Ajusta la posición del contenedor del botón -->
            <button
              type="button"
              class="close2 btnText"
              onclick="cerrarFormulario2()"
            >
              X
            </button>
          </div>
          <div class="">
            <div class="form2Title">
              <h5 class="fw-bold display-6 py-3">
                ¡Bienvenido a <br />
                la comunidad AECODE!
              </h5>
            </div>
            <div class="form2Text">
              <p class="text-muted text-secondary">
                Estamos contentos de contar contigo, en unos instantes recibirás
                un correo de confirmación. Con esto podrás acceder a la
                información de cursos, novedades y mucho más. Si quieres
                pertenecer a una comunidad de networking más exclusiva:
              </p>
            </div>
            <div class="form2Text2">
              <p class="text-muted text-secondary">
                En unos instantes recibirás un correo de confirmación para
                acceder a novedades y mucho más. <br />
                Si quieres pertenecer a una comunidad más exclusiva:
              </p>
            </div>
          </div>
          <div class="text-center">
            <a
              href="https://chat.whatsapp.com/DAJRQLAW7VB6ylyqDmLY4x"
              target="_blank"
              class="btn btn-primary px-4"
              style="background-color: #380489; border: #380489; color: white"
            >
              <strong>¡Únete al grupo de Whatsapp!</strong>
            </a>
          </div>
          <div>
            <p class="text-muted pt-3">¡Bienvenido!</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
