<app-tool-bar />

<div class="main-container">
  <div class="main-container-video">
    <video
      autoplay
      muted
      loop
      src="/assets/images/backgrounds/first-view-bg.webm"
    ></video>
  </div>

  <div class="content-container">
    <div class="coming-soon-container">
      <a
        class="choose-your-path-button button-1 hover-button"
        href="https://aecodemap.my.canva.site/"
        target="_blank"
        >Reto 1</a
      >
      <a
        class="choose-your-path-button button-2 hover-button"
        href="https://aecodemap.my.canva.site/"
        target="_blank"
        >Reto 2</a
      >
      <div class="coming-soon-media">
        <img src="/assets/images/main-view/main-view-img.webp" alt="" />
      </div>
      <!-- <h1>PROXIMAMENTE...</h1> -->
      <div class="coming-soon-content">
        <div class="coming-soon-text">
          <span>Sé parte del Ecosistema Digital 4.0</span>
        </div>
        <app-count-down />
      </div>
    </div>

    <app-social-media />
  </div>
</div>
